footer {
    background-color: #000000;
    font-color: #FFFFFF;
    padding: 20px;
    text-align: right;
}

section {
    padding: 150px 0;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-center {
    margin: 0 auto;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.close-notify {
    position: absolute;
    margin-top: 5px;
    right: 10px;
    z-index: 1000;
    float: right;
}

.no-margin {
    margin: 0 !important;
}

.no-radius {
    border-radius: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.text-center {
    font-size: 1em;
}

.nav-custom-padding {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

@media (max-width: 768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .close-notify {
        padding: 0;
        margin: 0;
        min-width: 0;
    }

    .affix {
        position: relative !important;
    }

    .section-heading {
        font-size: 2em;
    }

    .text-center {
        font-size: .8em;
    }

    .nav-custom-padding {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .alert {
        padding: 0;
    }
}